<!-- NEW ITEM ADD VIEW -->
<h1>{{title}}</h1>

<form>
  <div class="form-group">
    <label> Task Description
      <input type="text" class="form-control" placeholder="some important task" ng-model="newTask.task"/>
    </label>
  </div>
  <div class="form-group">
    <label> Due Date
      <input type="text" class="form-control" placeholder="MM/DD/YYYY" ng-model="newTask.dueDate"/>
    </label>
  </div>
  <div class="form-group">
    <label> Assigned To
      <input type="text" class="form-control" placeholder="person assigned to" ng-model="newTask.assignedTo"/>
    </label>
  </div>
  <div class="form-group">
    <label> Location
      <input type="text" class="form-control" placeholder="location" ng-model="newTask.location"/>
    </label>
  </div>
  <div class="form-group">
    <label> Urgency
      <input type="text" class="form-control" placeholder="low/medium/high" ng-model="newTask.urgency"/>
    </label>
  </div>
  <div class="form-group">
    <label> Dependencies
      <input type="text" class="form-control" placeholder="this, this, this" ng-model="newTask.dependencies"/>
    </label>
  </div>
  <button class="btn btn-default" ng-click="addNewItem()">{{submitButtonText}}</button>
</form>
<!-- END OF NEW ITEM ADD VIEW -->
